node_modules
bower_components
coverage
/dist
.DS_Store
*.pid
.idea/
*.sublime-project
*.sublime-workspace
.tmp/
deploy/local.properties
deploy/dev.properties
*.iml
.vscode/
ui/fonts
local.ecosystem.json
