<div class="row" ng-if="!ctrl.currentUser">Please log in to see content</div>
<div class="row" ng-if="ctrl.currentUser">
  <div class="col-md-12">
    <ml-input qtext="ctrl.qtext" search="ctrl.search(qtext)" suggest="ctrl.suggest(val)" template="/app/search/ml-input-fa.html" class="search"></ml-input>
  </div>
</div>

<div class="search row" ng-if="ctrl.currentUser">
  <div class="col-md-2 right-col">
    <ml-facets facets="ctrl.response.facets" toggle="ctrl.toggleFacet(facet, value)" active-facets="ctrl.mlSearch.activeFacets"
      negate="ctrl.toggleNegatedFacet(facet,value)" template="app/search/ml-facets.html"></ml-facets>
  </div>

  <div class="col-md-7">
    <h4 ng-if="ctrl.response.total === 0">No results to show</h4>

    <div ng-if="ctrl.response.total > 0" class="results">
      <div class="pagination-ctrls">
        <uib-pagination class="pagination-sm" ng-model="ctrl.page" ng-change="ctrl.search()" max-size="10" boundary-links="true"
          total-items="ctrl.response.total" items-per-page="ctrl.response['page-length']">
        </uib-pagination>
        <ml-snippet set-snippet="ctrl.setSnippet(type)"></ml-snippet>
      </div>
      <ml-metrics search="ctrl.response"></ml-metrics>
      <ml-results template="app/search/search-results.html" results="ctrl.response.results"></ml-results>
    </div>
  </div>
  <div class="col-md-3">

    <div class="row" style="margin-top: 2em">
      <div class="col-md-6">
        <div class="box box-solid box-success">
          <div class=" box-header with-border ">
            Winner (Day)
          </div>
          <div class="box-body" style="text-align:center">
            <div>{{ctrl.stats.dayWinner.name}}</div>
            <div class='stock-symbol'>(DAX:{{ctrl.stats.dayWinner.symbol}})</div>
            <div>
              <span class="stock-change-positive" style="font-size:2em; font-weight:bold">{{ctrl.stats.dayWinner.dayChange}}</span>
              <span style="font-size:1.4em">%</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="box box-solid  box-danger ">
          <div class=" box-header with-border ">
            Looser (Day)
          </div>
          <div class="box-body" style="text-align:center">
            <div>{{ctrl.stats.dayLooser.name}}</div>
            <div class='stock-symbol'>(DAX:{{ctrl.stats.dayLooser.symbol}})</div>
            <div>
              <span class="stock-change-negative" style="font-size:2em; font-weight:bold">{{ctrl.stats.dayLooser.dayChange}}</span>
              <span style="font-size:1.4em">%</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="box box-solid box-success">
          <div class=" box-header with-border ">
            Winner (Week)
          </div>
          <div class="box-body" style="text-align:center">
            <div>{{ctrl.stats.weekWinner.name}}</div>
            <div class='stock-symbol'>(DAX:{{ctrl.stats.weekWinner.symbol}})</div>
            <div>
              <span class="stock-change-positive" style="font-size:2em; font-weight:bold">{{ctrl.stats.weekWinner.weekChange}}</span>
              <span style="font-size:1.4em">%</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="box box-solid  box-danger ">
          <div class=" box-header with-border ">
            Looser (Day)
          </div>
          <div class="box-body" style="text-align:center">
            <div>{{ctrl.stats.weekLooser.name}}</div>
            <div class='stock-symbol'>(DAX:{{ctrl.stats.weekLooser.symbol}})</div>
            <div>
              <span class="stock-change-negative" style="font-size:2em; font-weight:bold">{{ctrl.stats.weekLooser.weekChange}}</span>
              <span style="font-size:1.4em">%</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <d3-cloud words="ctrl.words" padding="0" rotate="ctrl.noRotate(word)" events="ctrl.cloudEvents"></d3-cloud>
    </div>
  </div>
</div>