<div class="row detail">
  <div class="col-sm-8">
    <span ng-if="ctrl.type!='pdf'">
    <uib-tabset type="pills">
      <uib-tab active="true">
        <uib-tab-heading>{{ctrl.type | uppercase}}</uib-tab-heading>
        <div class="col-sm-9 bottom-buffer">
          <json-explorer ng-if="ctrl.type==='json'" data="ctrl.json"></json-explorer>
          <pre ng-if="ctrl.type!=='json'" class="pre-xml">{{ctrl.xml}}</pre>

          <a ng-if="ctrl.type==='binary'" target="_blank" ng-href="/v1/documents?uri={{ctrl.uri}}&transform=download" class="btn btn-default">Download</a>
        </div>
      </uib-tab>
      <uib-tab ng-if="ctrl.type!=='json'">
        <uib-tab-heading>JSON</uib-tab-heading>
        <div class="col-sm-9 bottom-buffer">
          <json-explorer data="ctrl.json"></json-explorer>
        </div>
      </uib-tab>
      <uib-tab ng-if="ctrl.type==='json'">
        <uib-tab-heading >XML</uib-tab-heading>
        <div class="col-sm-9">
          <pre class="pre-xml">{{ctrl.xml}}</pre>
        </div>
      </uib-tab>
    </uib-tabset>
    </span>
    <span ng-if="ctrl.type=='pdf'">
      <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
              <li class="active"><a aria-expanded="true" href="#tab_1" data-toggle="tab">PDF</a></li>
              <li class=""><a aria-expanded="false" href="#tab_2" data-toggle="tab">HTML</a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="tab_1">
                <view-file uri="ctrl.viewuri" content-type="'application/pdf'" style="height:650px;"></view-file>
              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane" id="tab_2">
                <view-file uri="ctrl.viewurihtml" content-type="'text/html'" style="height:650px;"></view-file>
              </div>
              <!-- /.tab-pane -->
            </div>
        <!-- /.tab-content -->
          </div>


      <!-- download-uri="ctrl.viewuri" -->
    </span>
  </div>
  <!--
  <div class="col-sm-4">

    <div class="panel panel-default">
      <div class="panel-heading">Similar</div>
      <div class="panel-body">
        <ml-similar uri="{{ctrl.uri}}" limit="5"></ml-similar>
      </div>
    </div>
  </div>
  -->
</div>
